mecab-python3==1.0.6
unidic-lite==1.0.8
cutlet
coqpit 
trainer 
coqpit 
mutagen 
anyascii 
bangla 
bnnumerizer 
bnunicodenormalizer 
gruut 
jamo 
pypinyin 
pysbd
pyyaml 
requests
torchaudio
librosa
tqdm
pandas
matplotlib
inflect
jieba

flask
flask-swagger-ui