anyascii==0.3.2
bangla==0.0.5
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
coqpit==0.0.17
cutlet==0.5.0
dateparser==1.1.8
docopt==0.6.2
encodec==0.1.1
fugashi==1.4.0
g2pkk==0.1.2
gruut==2.2.3
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
hangul-romanize==0.1.0
jaconv==0.4.0
jamo==0.4.1
jsonlines==1.2.0
mecab-python3==1.0.6
mojimoji==0.0.13
mutagen==1.47.0
num2words==0.5.14
pypinyin==0.54.0
pysbd==0.3.4
python-crfsuite==0.9.11
SudachiDict-core==20250129
SudachiPy==0.6.10
trainer==0.0.36
TTS==0.22.0
Unidecode==1.4.0
unidic-lite==1.0.8
