<!DOCTYPE html>
<html>

<head>
    <title>Select TTS Model</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="text-center mt-5">
    <h1>Select a TTS Model</h1>
    <a href="/vits2-japanese" class="btn btn-primary btn-lg m-3">🎙️ VITS2 Japanese</a>
    <a href="/vits2-experimental" class="btn btn-warning btn-lg m-3">🧬 VITS2 Experimental</a>
    <a href="/vits-old" class="btn btn-secondary btn-lg m-3">🧪 VITS Old Model</a>
</body>

</html>